**Task2_Part1**

*Assignment: We have .rda format file and need to read it in Python.*

*Solution: Converting .rda file into Pandas DataFrame was a little challenging to me. 
There might be better solutions, however, I found using package "pyreadr" the fastest, which allows reading Rda files directly into python.*

After converting .rda file into Pandas DataFrame I saved data to csv format for the following reasons:

* My computer is not powerful, that is why I usually use Google Colab notebook.
* Because installation of "pyreadr" was time consuming in Google Colab, I preferred to do the first part of the job on Jupyter Notebook and after reading .rda file I downloded data as csv in order to continue to do the rest of the task on Google Colab.

In [ ]:
import pyreadr

# .read_r() assigns the information from the initial *.rda file to this variable
# result is a dictionary where keys are the name of objects and the values python objects

result = pyreadr.read_r('/home/varduhi/Documents/Python exercises/Internship/Intern_task/data_task_2/f_data_sm.rda')

In [2]:
# let's check what objects we got
print(result.keys())

odict_keys(['f_data_sm'])

In [3]:
# extract the pandas dataframe for object f_data_sm
f_data_sm = result["f_data_sm"]

In [4]:
# let's see how our data look like
f_data_sm.head()

,SEASON,COUNTRY,LEAGUE,DATE,HOMETEAM,AWAYTEAM,FTSC,FTR,FTHG,FTAG,FTTG,H,D,A
0,1994.0,England,Premier League,1993-08-14,Arsenal,Coventry,0-3,A,0.0,3.0,3.0,NaN,NaN,NaN
1,1994.0,England,Premier League,1993-08-14,Aston Villa,QPR,4-1,H,4.0,1.0,5.0,NaN,NaN,NaN
2,1994.0,England,Premier League,1993-08-14,Chelsea,Blackburn,1-2,A,1.0,2.0,3.0,NaN,NaN,NaN
3,1994.0,England,Premier League,1993-08-14,Liverpool,Sheffield Weds,2-0,H,2.0,0.0,2.0,NaN,NaN,NaN
4,1994.0,England,Premier League,1993-08-14,Man City,Leeds,1-1,D,1.0,1.0,2.0,NaN,NaN,NaN

In [6]:
# copying data
df = f_data_sm.copy()

In [7]:
# general overview of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87816 entries, 0 to 87815
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEASON    87816 non-null  float64
 1   COUNTRY   87816 non-null  object
 2   LEAGUE    87816 non-null  object
 3   DATE      87816 non-null  datetime64[ns]
 4   HOMETEAM  87816 non-null  object
 5   AWAYTEAM  87816 non-null  object
 6   FTSC      87816 non-null  object
 7   FTR       87815 non-null  object
 8   FTHG      87814 non-null  float64
 9   FTAG      87814 non-null  float64
 10  FTTG      87814 non-null  float64
 11  H         57660 non-null  float64
 12  D         57660 non-null  float64
 13  A         57660 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 9.4+ MB

In [8]:
# downloading data to our local folder as csv file
df.to_csv(r'/home/varduhi/Documents/Python exercises/Internship/Intern_task/data_task_2/data.csv', index = False, header=True)